language: python
#version
python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
cache: pip
services:
  - postgresql
before_script:
  - psql -c 'create database test_db;' -U joylubega
install:
  - pip install -r requirements.txt
  - pip install coveralls
  - pip install coverage
script:
  - nosetests --with-coverage

after_success:
  - coveralls